[core]
    excludesfile = ~/.gitignore_global
    editor = nvim -c \"set fenc=utf-8\"

[color]
    ui = auto
[ghq]
    root = ~/src
    root = ~/Develop
[user]
    name = yashikawa
    email = yashikawa3@gmail.com
